<div class="container mt-3">
    <p>New Product</p>
</div>
<!-- Empty Fields --> 
<div *ngIf="isEmptyFields" class="alert alert-danger alert-dismissible fade  show">
    <span>Please fill in the Fields</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Add product form -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <form (submit)="submitCreateProduct()">
                <div class="mb-3">
                    <input name="name" [(ngModel)]="product.name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input  name="price" [(ngModel)]="product.price" type="text" class="form-control"  placeholder="Price">
                </div>
                <div class="mb-3">
                    <input  name= "quantity"  [(ngModel)]="product.quantity" type="text" class="form-control"  placeholder="Quantity">
                </div>

                <div class="mb-3">
                    <textarea name = "info" [(ngModel)]="product.info" row="10" class="form-control" placeholder="Information"></textarea>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success btn-sm" value="create">
                </div>

            </form>
        </div>
    </div>
</div>