<div class="container mt-3">
    <div class="row">
        <div class="col">
            <!-- <p class="h3 text-success">Product Display</p> -->
            <div class="container-button">   
               <button  (click)="addProductPage()" class="btn btn-success btn-sm">Add Product</button>
            </div>
        </div>
    </div>
</div>
<!-- View Table -->
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ProductId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Info</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let product of products ">
                        <td>{{product._id}}</td>
                        <td>{{product.name}}</td> 
                        <td>{{product.price }}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.info}}</td>
                        <td>
                            <a routerLink="/products/{{product._id}}" class="btn btn-primary btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button (click)="clickDeleteProduct(product._id)" class="btn btn-danger btn-sm" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>