<!-- Empty Fields -->
<div *ngIf="isEmptyFields" class="alert alert-danger alert-dismissible fade  show">
    <span>Please fill in the Fields</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Register -->
<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">

                <div class="form-signin">
                    <form class="text-center border border-light p-3" (submit)="submitUserRegister()">
                        <h1 class="h3 mb-3 fw-normal">Please register</h1>

                        <div class="mb-3">
                            <input name="firstName" [(ngModel)]="userForm.firstName" class="form-control"
                                placeholder="FirstName">
                        </div>

                        <div class="mb-3">
                            <input name="email" [(ngModel)]="userForm.lastName" class="form-control"
                                placeholder="LastName">
                        </div>

                        <div class="mb-3">
                            <input name="email" [(ngModel)]="userForm.email" required email class="form-control"
                                placeholder="Email">
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" [(ngModel)]="userForm.password"
                                placeholder="Password">
                        </div>

                        <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>