<!-- header -->
<nav class="navbar" style="background-color: #2f6b68ef">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="/assets/red-store-vector-sign-promotion-260nw-1918121837.webp" width="40" height="34"
        class="d-inline-block align-text-center">
      <i class="fa fa-shopping-cart"></i>ShopMart
    </a>
    <section>
      <div class="example-label"></div>
      <div class="example-button-row">
         <div class="example-flex-container">
           <!-- <button routerLink="/home" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
           </button> -->
          <!-- <button routerLink="/products/list" mat-icon-button color="accent"
            aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>  -->
        </div> 
      </div>
    </section>
  </div>
</nav>


