<div class="container mt-3">
    <p>Edit  Product</p>
</div>

<!-- Empty Fields -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
<div *ngIf="isEmptyFields" class="alert alert-danger alert-dismissible fade  show">
    <span>Please fill in the Fields</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
</div>
</div>

<!-- Update Form  -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <form  (submit)="submitUpdateProduct()">
                <div class="mb-3">
                    <input name="name" [value]="selectedProduct.name" type="text" class="form-control" [(ngModel)]="selectedProduct.name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input name="price" [value]="selectedProduct.price" type="text" class="form-control" [(ngModel)]="selectedProduct.price" placeholder="Price">
                </div>
                <div class="mb-3">
                    <input name="quantity" [value]="selectedProduct.quantity" type="text" class="form-control" [(ngModel)]="selectedProduct.quantity" placeholder="Quantity">
                </div>

                <div class="mb-3">
                    <textarea  name="Info" [value]="selectedProduct.info"  row="10" class="form-control" [(ngModel)]="selectedProduct.info" placeholder="Information"></textarea>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success btn-sm" value="update">
                </div>

            </form>
        </div>
    </div>
</div>