.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center { 
    display: block;
    margin-left: left;
    margin-right: auto; 
    width: 74%;
  }

/* Centered text */
.centered {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .centered-text{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }