<div class="container-button">
    <img src="/assets/shopping-cart-supermarket-empty-shelves-40320116.jpg" width="50%" class="center" alt="shop logo">
    <h1 class="centered">Welcome To Shop</h1>
    <p class="centered-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eaque vitae recusandae
        officia quia placeat, a provident laborum officiis sequi laudantium, vel porro aut cumque odit deserunt
        doloribus dicta iusto?</p>
</div>

<!-- Empty Fields -->
<div *ngIf="isEmptyFields" class="alert alert-danger alert-dismissible fade  show">
    <span>Please fill in the Fields</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade  show">
    <span>Invalid Credentials</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Login  -->
<div class="auth-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-9 col-xs-12">

                <div class="form-login">
                    <form class="text-center border border-light p-3" [formGroup]="form" (submit)="submitUserLogin()">
                        <h1 class="h3 mb-3 fw-normal"> Please Login</h1>

                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="email" placeholder="Email">
                            <label>Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password">
                            <label>Password</label>
                        </div>
                        <button class="btn btn-info my-4 btn-block" (click)="submitUserLogin()"
                            type="submit">Login</button>

                    </form>
                    <!-- <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                            Login failed!
                        </div>
                    </div> -->
                </div>
                <div class="col-md offset-md col-xs-12">
                    <a [routerLink]="['/user/register']">Need an account?</a>
                </div>
            </div>
        </div>
    </div>